<a class="pdf-card"
   href="{{ include.doc.pdf }}"
   target="_blank"
   rel="noopener">

    <div class="pdf-left">

        <div class="pdf-icon">
            📄
        </div>

        <div class="pdf-info">

            <h3>{{ include.doc.title }}</h3>

            {% if include.doc.label %}
            <span class="badge badge-{{ include.doc.label | downcase | replace:' ','-' }}">
                {{ include.doc.label }}
            </span>
            {% endif %}

        </div>

    </div>

    <div class="pdf-right">

        <span class="open-text">
            Open PDF
        </span>

        <span class="pdf-arrow">
            ↗
        </span>

    </div>

</a>